{% extends 'base.html' %}
{% block title %}Change password{% endblock %}
{% set page_heading = 'Change your password' %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-lg-6">
    <div class="card shadow-sm">
      <div class="card-header bg-white"><strong>Set a new password</strong></div>
      <div class="card-body">
        <p class="text-muted small">You must set a new password before continuing.</p>
        <form method="post" class="row g-3">
          {{ form.hidden_tag() }}
          <div class="col-12">
            {{ form.new_password.label(class_='form-label') }}
            {{ form.new_password(class_='form-control', autocomplete='new-password') }}
          </div>
          <div class="col-12">
            {{ form.confirm_password.label(class_='form-label') }}
            {{ form.confirm_password(class_='form-control', autocomplete='new-password') }}
          </div>
          <div class="col-12 text-end">{{ form.submit(class_='btn btn-primary') }}</div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
